In [1]:
import pyspark

In [3]:
pyspark.__version__

'3.3.1'

In [2]:
pyspark.__file__

'/home/tjsimpson/spark/spark-3.3.1-bin-hadoop3/python/pyspark/__init__.py'

SparkSession simply allows us to specify how we connect to Spark

In [9]:
from pyspark.sql import SparkSession

Specify how we connect to Spark and create the application name.

In [10]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

The * above specifies that we will use all CPUs it can be replaced with 2 or 4 to specify using 2 or 4 respectively.

Download a test file.

In [12]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-02-24 13:38:39--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.146.173, 54.231.135.136, 52.217.142.144, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.146.173|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-02-24 13:38:39 (56.4 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

Check file.

In [13]:
!head taxi+_zone_lookup.csv

Set dataframe to the file.

In [14]:
df = spark.read.csv('taxi+_zone_lookup.csv')

In [15]:
df.show()

+----------+-------------+--------------------+------------+
|       _c0|          _c1|                 _c2|         _c3|
+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

Does not pickup the column headers.

In [16]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [17]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

Save to Parquet

In [19]:
df.write.parquet('zones')

In [20]:
!ls -lh

total 738M
-rw-rw-r--  1 tjsimpson tjsimpson 738M Oct 17 21:24 Anaconda3-2022.10-Linux-x86_64.sh
drwxrwxr-x 28 tjsimpson tjsimpson 4.0K Jan 22 22:58 anaconda3
drwxrwxr-x  3 tjsimpson tjsimpson 4.0K Feb  4 16:16 bin
drwxrwxr-x 12 tjsimpson tjsimpson 4.0K Jan 22 21:37 data-engineering-zoomcamp
drwx------  3 tjsimpson tjsimpson 4.0K Jan 22 13:15 snap
drwxrwxr-x  4 tjsimpson tjsimpson 4.0K Feb 24 13:03 spark
-rw-rw-r--  1 tjsimpson tjsimpson  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r--  1 tjsimpson tjsimpson 9.3K Feb 24 13:41 week5_pyspark.ipynb
drwxr-xr-x  2 tjsimpson tjsimpson 4.0K Feb 24 13:43 zones